@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Barlow:ital@1&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: "#0000ff";
  --secondary: "#bfcfff";
  --accent: "#809fff";
}
* {
  font-family: "Barlow", sans-serif;
}
/* html {
  background-color: #002db3;
} */
